

div.box {
    margin-bottom:40px;
}

.parentDiv {
    font-family: 'Lobster', cursive;
    margin-top: 80px ;
    font-size: 3rem ;
}


@media only screen and (max-width: 768px) {
    .parentDiv {
        font-size:2rem;
    }
}