img .venueImage {
    max-width: 100%; 
    width: auto; 
    /* max-height: 10px !important;  */
}

a.websiteBtn.button.is-primary {
    margin: 10px; 
}

span.button.is-link.modal-button {
    margin: 10px;
}

.review-card {
    margin: 15px; 
}