img .venueImage {
    max-width: 100%; 
    width: auto; 
    /* max-height: 10px !important;  */
}

a.websiteBtn.button.is-primary {
    margin: 10px; 
}

a.button.is-link.is-light.websiteBtnModal {
    margin-top: 10px;
}

span.button.is-link.modal-button {
    margin: 10px;
}

.contact-info {
    margin-top: 25px;
    margin-bottom: 15px !important;
}

.review-card {
    margin: 15px; 
}