

@media only screen and (min-width: 769px) {
    .image img {
        display: block;
        height: auto;
        width: 100%;
        max-height: 350px;
    }

    /* .venueCard {
        max-width: 300px; 
    } */

  }




a.websiteBtn.button.is-primary {
    margin: 10px; 
}

a.button.is-link.is-light.websiteBtnModal {
    margin-top: 10px;
}

span.button.is-link.modal-button {
    margin: 10px;
}

.contact-info {
    margin-top: 25px;
    margin-bottom: 15px !important;
}

.review-card {
    margin: 15px; 
}

.card-footer-item {
    font-size: 0.9rem;
}